<h1><%= @track.title %></h1>
<!-- show track info here -->
Track #<%= @track.ord %> on <a href="<%=album_url(@track.album)%>"><%=@track.album.title  %></a> by <a href="<%= band_url(@track.band) %>"><%= @track.band.name %></a> 
